@keyframes blinkAnimation {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
@keyframes appearAnimation {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
@keyframes disappearAnimation {
    0% { opacity: 1; }
    100% { opacity: 0; }
}
html {
    height: 100%;
}
body {
    height: calc(100% - 26ex)
}
div {
    animation: 0.3s linear 0s 1 appearAnimation;
}
.suppress {
    animation: 0.3s linear 0s 1 disappearAnimation;
}
#table {
    display: flex;
    height: 100%;
}
#formulaireContainer {
    flex-grow: 1;
    height: 100%;
}
#skeleton {
    background-color: var(--vscode-editor-background);
    color: var(--vscode-editor-foreground);
    border: 1px solid var(--vscode-checkbox-border);
    margin: 0;
    overflow: scroll;
    min-width: 24em;
    width: 100%;
    height: 100%;
    resize: none;
}
#expansed {
    background-color: var(--vscode-editor-background);
    color: var(--vscode-editor-foreground);
    border: 1px solid var(--vscode-checkbox-border);
    margin: 0;
    overflow: scroll;
    min-width: 24em;
    width: 100%;
    height: 100%;
    resize: none;
}
#formulaire {
    margin: 1em 1em 1em 0;
    padding: 1em 1px 1em 3em;
    width: max-content;
    min-width: 20em;
    height: 100%;
    overflow-y: auto;
    user-select: none;
}
.title {
    display: inline-block;
}
.line {
    padding-left: 0.5em;
}
label.variable {
    font-weight: bold;
    min-width: 12em;
    display: inline-block;
}
span.status {
    display: inline-block;
    width: 1em;
    text-align: center;
    margin-left: -0.45em;
}
input, select, textarea {
    font-family: monospace;
    background-color: var(--vscode-input-background);
    color: var(--vscode-input-foreground);
    border: 1px solid var(--vscode-checkbox-border);
    padding-left: 0.2em;
}
input:focus, select:focus {
    outline: thin solid var(--vscode-focusBorder);
}
input:invalid {
    border: 1px solid var(--vscode-errorForeground);
    outline: none;
}
button:focus {
    outline: none;
}
/*input:active {
    border: var(--vscode-inputOption-activeBorder);
}*/
.group {
    padding-left: 0.5em;
}
.group:hover {
    cursor:pointer;
}
.groupClose :not(.groupHead):not(.status):not(.title):not(.number):not(.repetition) {
    display: none;
}
.group .title:hover {
    background-color: var(--vscode-list-hoverBackground);
}
.groupHead {
    min-width: inherit;
}
.occurrenceContainer {
    padding-left: 0.5em;
    border-left: 1px solid var(--vscode-dropdown-border);
}
/*.occurrenceContainer:hover {
    border-left-color: var(--vscode-tree-indentGuideStroke);
}*/
.occurrenceContainerClose :not(.status):not(.title):not(.number):not(.repetition) {
    display: none;
}
.occurrence {
    position: relative;
    display: flex;
    padding-bottom: 1px;
    margin-bottom: 1px;
}
.occurrenceContainer > .buttons {
    display: inline;
}
button, input[type='button'] {
    background-color: var(--vscode-button-background);
    color: var(--vscode-button-foreground);
    border: none;
}
button:hover, input[type='button']:hover {
    background-color: var(--vscode-button-hoverBackground);
}
.plus, .moins {
    font-family: monospace;
    margin-left: 0.1em;
    border-radius: 50%;
    opacity: 0.5;
}
.plus:hover, .moins:hover {
    opacity: 1;
}
h1 {
    font-size: medium;
}
.hidden {
    display: none;
}
.repetition {
    float: right;
    margin-right: 1em;
}
.number:before {
    content: ' [ ';
}
.number:after {
    content: ' ] ';
}
